@use "../abstracts/_variables.scss" as *;

.adminContainer {
	// overflow: hidden;
	width: 100%;
	background-color: $dark-000;
	// height: 90vh;

	.menuAdminContainer {
		float: left;
		width: 25%;
		height: 100%;
		padding: 5px;
	}

	.menuPanelContainer {
		float: left;
		padding: 5px;
	}
}
