@use "../abstracts/_variables.scss" as *;

.emptyCart {
  background-image: url("../assets/background1.jpg");
  background-size: cover;
  overflow: scroll;
  height: 100vh;

  h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 2.5em;
    margin: 2em auto;
  }
}

.cartPage {
  background-image: url("../assets/background1.jpg");
  background-size: cover;
  overflow: scroll;
  height: 100vh;

  display: flex;
  justify-content: center;
  padding: 2em;

  .itemsInCart {
    display: flex;
    flex-direction: column;
  }
  .totalAmount {
    padding-top: 1.5em;
    border-radius: 20px;
    min-width: 250px;
    height: fit-content;

    background-color: rgba($dark-500, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .shippingDataForm {
      margin-bottom: 1.5em;

      h3 {
        font-size: 1.2em;
        text-align: center;
        padding: 0 1em 0.5em 1em;
      }

      input {
        width: 96%;
        height: 2em;
        margin: 0.3em;
        border-radius: 5px;
      }

      .errText {
        color: whitesmoke;
        font-size: small;
        margin: 0 0 0 0.5em;
      }

      .btnSbmt {
        margin-top: 0.5em;
        background-color: $secondary;
        color: $red-000;

        &:hover {
          background-color: whitesmoke;
          color: $secondary;
        }
        &:active {
          background-color: $secondary;
          color: $red-000;
        }
      }
    }

    .line {
      background-color: $red-000;
      height: 5px;
      width: 100%;
      margin-bottom: 1em;
    }

    h3 {
      font-size: 1.5em;
      margin: 0;
      color: $dark-200;
    }

    h2 {
      font-size: 1.7em;
      color: $dark-000;
      margin: 1em;
    }
    .restrictedBtn {
      background-color: $primary;
      color: $red-000;
      font-size: 1.2em;
      font-weight: 600;

      width: 100%;
      height: 3em;
      border: none;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;

      &:hover {
        cursor: not-allowed;
      }
    }
    .allowedBtn {
      @extend .restrictedBtn;
      background-color: green;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
