@use "../abstracts/_variables.scss" as *;

.categoryPage {
  background-color: $secondary;
  .categoryTitle {
    height: 5vh;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      color: $white;
      text-align: center;
      font-size: x-large;
      padding-top: 0.3em;
    }
  }

  body {
    display: grid;
    width: 100%;
    grid-template-columns: 30% 70%;

    .leftColumn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-left: 1.5vw;

      .filter {
        height: fit-content;
        width: 98%;
        max-width: 300px;

        background-color: $dark-600;

        margin: 5em 0 0 0.5em;
        border-radius: 20px;

        .blackBtn {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .textInvite {
        h2 {
          color: $dark-000;
          text-align: center;
          margin: 1em 0 0.5em 0;
        }
      }

      .suggestedProduct {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }
    }

    .cardContainer {
      background-color: inherit;
      margin-left: 0.5vw;
    }
  }
}
