@use "../abstracts/_variables.scss" as *;

.formContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $red-200;
  height: 100vh;

  .form{
    height: 90vh;
    width: 40vw;
    display:flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    align-content: space-around;
    
    background-color: $red-600;
    
    border-radius: 1rem;
    .tituloCargar{
      font-family: $fuente-titulo;
      color: $red-050;
      font-size: x-large;
    }
    .elementosForm{
      font-family: $fuente-parrafos;
      font-size: x-large;
      color: $red-100;
      padding: 0.2rem;
    }
    .elementosForm input{
      width: max-content;
      border-radius: 1rem;
      padding: 0.2rem;
    }
  }
}
 