@use "../abstracts/_variables.scss" as *;

.formContainer {
	.form {
		// height: 155vh;
		width: 45vw;
		display: flex;
		flex-direction: column;
		padding: 0.5rem;

		justify-content: center;
		align-items: center;
		align-content: space-around;

		background-color: $dark-000;

		border-radius: 1rem;

		.elementosForm {
			font-family: $fuente-parrafos;
			font-size: x-large;
			color: $dark-900;
			padding: 0.2rem;
		}
		.elementosForm input {
			// width: max-content;
			border-radius: 1rem;
			padding: 0.2rem;
		}
		.form-errors {
			font-family: $fuente-parrafos;
			color: $dark-500;
		}

		.btn {
			background-color: $dark-500;
			border-radius: 5px;
			border: solid 1px #c1c2c5;
		}

		.btn:hover {
			color: $red-000;
			text-decoration: overline;
		}
	}
}
