@use "../abstracts/_variables.scss" as *;

.editUser {
	background-color: $dark-500;
	height: max-content;
	padding: 2em;
	.profileInfo {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h3 {
			margin: 0.5em auto;
			color: whitesmoke;
		}
	}

	.document {
		color: $red-000;
		text-align: center;
	}

	.idInput {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		input {
			border-radius: 5px;
			text-align: center;
			height: 2em;
		}

		button {
			margin: 1em;
			width: 10em;
			height: 2em;
		}
	}

	.ordersController {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1 {
			color: $red-000;
			margin-top: 2em;
		}

		.btns {
			display: flex;
			flex-direction: row;

			button {
				margin: 0 0.2em;

				background-color: $dark-600;
				border-radius: 5px;
				color: $dark-000;
				font-size: larger;
				border: solid 1px;
				margin-left: 0.2em;
				margin-bottom: 0.5em;
				padding: 0.2rem 0.5rem 0 0.5rem;

				&:hover {
					background-color: $dark-000;
					color: $dark-600;
				}

				&:focus {
					background-color: $dark-000;
					color: $dark-600;
				}
			}
		}
	}

	.activeContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		.userOrders {
			display: grid;
			grid-template-columns: 1fr 3fr 2fr 2fr;
			align-self: center;
			color: $dark-100;
			margin: 0.5em;
			padding: 0.5em;
			border: 1px solid greenyellow;
			border-radius: 15px;
			max-width: 900px;

			.orderNumber {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.itemContainer {
				display: flex;
				flex-direction: column;
				justify-content: center;
				.cartItems {
					display: flex;
					flex-direction: column;
					margin: 0.5em;
					padding: 0.5em;
					background-color: $dark-400;
					border-radius: 15px;
					color: $red-000;

					h3 {
						margin: 0;
						font-weight: 300;
					}

					&:hover {
						cursor: pointer;
						background-color: $red-000;
						color: $dark-400;
					}
				}
			}
			.paidStatus {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;

				h3 {
					font-weight: 300;
					margin: 0;
					span {
						color: greenyellow;
					}
				}
			}

			.activeMsg {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.dispatchedContainer {
		@extend .activeContainer;

		.userOrders {
			border: 1px solid rgb(195, 198, 206);
			.paidStatus {
				h3 {
					span {
						color: rgb(248, 255, 47);
					}
				}
			}
		}
	}
	.completeContainer {
		@extend .activeContainer;

		.userOrders {
			border: 1px solid rgb(195, 198, 206);
			.paidStatus {
				h3 {
					span {
						color: inherit;
					}
				}
			}
		}
	}
}
