@use "../abstracts/_variables.scss" as *;

.cardSlider {
  margin: 1em;

  .loadingStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .h3 {
    color: $dark-100;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0;
  }

  .swiperFeatured {
    padding: 1em 0 2em 0;

    .slideCard {
      display: flex;
      justify-content: center;
    }
    .swiper-button-next,
    .swiper-button-prev {
      color: rgba($red-000, 0.2);
      &:hover {
        color: rgba($red-000, 1);
        transition: 1s;
      }
    }
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      background-color: $dark-200;
    }
    .swiper-pagination-bullet-active {
      background-color: $red-000;
    }
  }
}
