@use "../abstracts/_variables.scss" as *;

.cartProduct {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 1em;
  padding: 2em;
  width: fit-content;
  background-color: $dark-200;
  border-radius: 15px;
  width: 800px;

  .imgCart {
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;

    img {
      width: 100px;
      height: 100px;
      border-radius: 15px;
    }
  }

  .cartInfo {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 1em;

    h3 {
      margin: 0 auto;
      text-align: center;
      font-size: 1.2em;
    }
  }

  .btnsCart {
    display: flex;
    align-items: center;
    margin-left: 2em;
    width: 75px;

    button {
      height: 2em;
      margin: 0 0.5em;
      border-radius: 5px;
    }
  }

  .subTotal {
    margin-left: 2em;
    display: flex;
  }
}
