@use "../abstracts/_variables.scss" as *;

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  box-shadow: 1px 1px 1px #000000, -1px -1px 1px $dark-500;

  border-radius: 10px;

  width: 95%;
  max-width: 500px;
  height: fit-content;
  margin: 0.4em;

  &:hover {
    box-shadow: 2px 2px 15px #000000, -2px -2px 15px $red-600;
  }

  h3 {
    text-align: center;
    font-size: larger;
    padding-top: 1.1em;
    height: 4rem;
    margin: 10px 5px;
  }

  .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70%;
    margin-left: 15%;
    height: fit-content;

    img {
      border-radius: 20px;
    }

    .image-hover {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s;

      &:hover {
        opacity: 1;
        background-color: white;
      }
    }
  }

  .noStockImg {
    @extend .img;

    img {
      filter: grayscale(100%);
    }
  }

  .info {
    margin: 0.5rem 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    span {
      text-align: center;
    }
  }

  .btn {
    display: flex;
    align-content: center;
    justify-content: center;

    .infoBtn {
      background-color: $dark-600;
      border-radius: 5px;
      color: $dark-000;
      font-size: larger;
      border: solid 1px;
      margin-left: 0.2em;
      margin-bottom: 0.5em;
      padding: 0.2rem 0.5rem 0 0.5rem;

      &:hover {
        background-color: $dark-000;
        color: $dark-600;
      }
    }
    .outStockBtn {
      @extend .infoBtn;
      background-color: $dark-000;
      color: $dark-600;

      &:hover {
        background-color: $dark-000;
        color: $dark-600;
      }
    }
  }
}

.cardFeatured {
  @extend .card;

  position: relative;
  background-color: $dark-600;
  box-shadow: 1px 1px 1px #000000, -1px -1px 1px $dark-000;

  &:hover {
    box-shadow: 2px 2px 15px #000000, -2px -2px 15px $red-000;
  }

  .featTag {
    position: absolute;
    top: 4%;
    left: 85%;
    font-size: xx-large;
  }

  h3 {
    background-color: $dark-500;
    color: $dark-000;
  }

  .info {
    color: $dark-000;
  }

  .btn {
    .infoBtn {
      background-image: linear-gradient(to right, #e52d27 0%, #b31217 100%);
      border: solid 1px $primary;
      color: $red-000;
      font-size: larger;

      &:hover {
        background-image: linear-gradient(to right, #b31217 0%, #e52d27 100%);
        border: solid 1px $primary;
        color: $red-000;
      }
    }

    .outStockBtn {
      @extend .infoBtn;
      background-image: none;
      border: solid 1px $dark-000;
      background-color: $dark-000;
      color: $red-000;

      &:hover {
        background-image: none;
        border: solid 1px $dark-000;
        background-color: $dark-000;
        color: $red-000;
      }
    }
  }
}
