.cardContainer {
  // background-image: url("../assets/background2.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-right: 2vw;
}
