@use "../abstracts/_variables.scss" as *;

.cardSlider {
  background-color: $dark-700;
  padding: 1em;

  overflow-x: hidden;

  .invitation {
    text-align: center;
    font-size: 2em;
    color: $dark-100;
    text-shadow: 0.5px 0.5px 0.5px rgba(255, 243, 243, 0.383);
    margin: 0.5em 0;
  }
  .cardSpace {
    display: flex;
    animation: loop 70s 0s ease-out infinite;

    .slideCard {
      height: 100vh;
      flex-basis: 500px;
      flex-shrink: 0;
      margin-left: 1.5em;
    }
  }

  @keyframes loop {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-25vw);
    }
    40% {
      transform: translateX(-50vw);
    }
    60% {
      transform: translateX(-75vw);
    }
    80% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(0);
    }
  }
}
