@use "../abstracts/_variables.scss" as *;

.categoryGrid {
  background-color: $dark-400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.2em;
  height: 2em;

  .categoryTab {
    color: $dark-200;
    font-size: 0.7rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 3em;

    h2 {
      font-size: 2em;
      font-family: "MuseoModerno", cursive;
    }

    &:hover {
      color: $dark-000;
      cursor: pointer;
    }
  }
}
