@use "../abstracts/_variables.scss" as *;

.contenedorDetalleLoader
{
    background-color: $red-800;
    height: 100%;
    
}

.loaderDetail{
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
}
.detailContainer {
    width: 90%;
    height: 100%;
    background-color: $red-000;
    margin-left: 5%;
}
.contenedorImagenDescription{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    width: 100%;
    background-color: $red-000;
    
    .imagenDetalle{
        display: flex;
        flex-direction: column;
        .imgGrande{        
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80%;
            width: 100%;
            
            img {
                width: 30vw;
                height: fit-content;
                background: #f0f0f0;
                box-shadow:  -10px 10px 20px #afafaf,
                              10px -10px 20px #ffffff;
            }
        }

        .imagesAux{       
            display: flex;
            justify-content: center;
            height: 20%;
            .imgChicas{
                width: 8vw;
                height: 100%;
                margin-left: 20px;
                overflow: hidden;
                background: #f0f0f0;
                box-shadow:  -10px 10px 20px #afafaf,
                10px -10px 20px #ffffff;
                img {
                    height: 100%;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }
                &:hover img {
                    transform: scale(1.2)
                }
            }
        }
    }
}

// font-family: $fuente-parrafos;
// font-family: $fuente-titulo;

    .contenedorDescription{
        
        display: flex;
        width: 100%;
        height: 100vh;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 10%;
        justify-content: flex-start;
        flex-direction: column;
        
        .tituloDetail{
            height: 3rem;
            font-size: 3rem;
            font-weight: bold;
            font-family: $fuente-titulo;
        }
        
        h2 {
            height: 1.7rem;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 1.7rem;
            font-family: $fuente-parrafos;
        }
        p {
            font-family: $fuente-parrafos;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        label {
            @extend p;
            
        }

        .precioDescuento {
            display: flex;
            flex-direction: row;
            .precio {
                width: 50%;
                color: $red-800;
                font-weight: 500;
            }
            .descuento {
                width: 50%;
                display:flex;
                justify-content: flex-end;
                color: rgb(4, 224, 4);
                font-weight: 700;
                font-size: 1.7rem;
                font-family: $fuente-titulo;
                padding-right: 4rem;
            }
        }
        .stock {
            display: flex;
            font-weight: bold;
            max-width: 3.5rem;
            padding-top: 0.4rem;
            align-items: center;
            padding-bottom: 0.4rem;
            justify-content: center;
            border: 1px solid $red-100;
        }

        .categorias {
            text-transform: uppercase;
            color: $red-800;
        }
        
        .descripcion {
            margin-top: 3rem;
            .text {
                padding-top: 0.5rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                min-height: 10rem;
                background-color: $red-050;
                overflow: hidden;
                border-radius: 10px;
            }
        }
    }


.reviews {
    margin-top: 2rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .usuario {
        
        width: 70%;
        display: flex;
        margin: 5px;
        background-color: $red-100;
        align-items: center;
        padding-right: 10px;
        .img {
            background-color: $red-300;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            margin-left: 30px;
            margin-right: 30px;
        }
        .label {
            color: $red-800;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-right: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            .span {   
                display: flex;
                flex-direction: row;
            }
            
        }
        .p {
            color: $red-800;
            margin-bottom: 10px;
        }
    }
}