@use "../abstracts/_variables.scss" as *;

.divNavbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: $red-700;
    height: 5rem;
}
.divSeachYLogo{
    height: 100%;
    width: 33.33%;
    display: flex ;
    justify-content: flex-start;
    align-items: center;
    .logo{
        .logoImg{
            height: 3rem;
            width: fit-content;
            border-radius: 50%;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
}
.tituloPag{
    text-transform: uppercase;
    font-family: $fuente-titulo ; 
    color: $red-000 ;
    text-decoration: none;
}

.searchBarStylo{
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .linkVender{
        color: $red-000;
        font-family: $fuente-parrafos;
        text-decoration: none;
        padding-top: 0.6rem;
    }
}
.logeo{
    border: 1px solid blue;

    width: 33.33%;
    height: 100%;
   /*  display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.6rem ; */
    display:grid;
    grid-template-columns: repeat(2,1fr);
    

    .autenticated{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

       /*  .estiloSesion{
            justify-content: flex-end;
            border : 1px solid black
         
        }
       
        .estiloProfile{
            border : 1px solid black;
            justify-content: center;
        } */
    }
}







