@use "../abstracts/_variables.scss" as *;
@use "../abstracts/_mixins.scss" as *;


.divNavbar {
  // z-index: 100;
  // position: fixed;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  background-color: $secondary;
  grid-template-areas: 'titulo titulo searchbar searchbar searchbar cartLogWish cartLogWish';


  .divSeachYLogo {
    grid-area: titulo;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    .logo {
      width: 100%;
      
      display: flex;
      align-items: center;
      .logoImg {
        height: 2rem;
        width: fit-content;
        border-radius: 50%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .tituloPag {
      text-transform: uppercase;
      font-family: $fuente-titulo;
      color: $red-000;
      text-decoration: none;
    }
  }
  .SearchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    
    grid-area: searchbar;
  }

  .contenedorCartLog{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: cartLogWish;
   

    .favDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // color: $red-200;
      // font-size: 40px;
     
      i {
        height: 30px;
        width: fit-content;
        color: $white;
        &:hover {
          color: $primary;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }
        
    }

    .cartBtnNav {
      display: flex;
      align-items: center;
      justify-content: center;
      
  
      i {
        height: 30px;
        width: fit-content;
        color: $white;
        position: relative;
        &:hover {
          color: $primary;
          transition: 0.3s ease;
        }
        &:active {
          color: $background;
        }
      }
  
      .cartCounter {
        position: absolute;
        top: 0%;
        left: 80%;
        font-size: 0.5em;
        font-weight: bold;
        background-color: $primary;
        border-radius: 20%;
        padding: 0.3em;
        color: $white;
      }
  
      &:hover {
        cursor: pointer;
      }
    }

    .cartCounter {
      position: absolute;
      top: 15%;
      left: 40%;
      font-size: 0.3em;
      font-weight: bold;
      color: $red-000;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .favDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $red-200;
    font-size: 40px;

    &:hover {
      color: $red-100;
      transition: 0.5s ease-in-out;

    }
  
    // .prflContainer {
    //   display: flex;
    //   align-items: center;
    //   justify-content: flex-start;
    //   .btnProfileUser {
    //     background-color: rgba($color: $dark-800, $alpha: 0.5);
    //     padding: 0.3em;
    //     border-radius: 15px;
  
    //     border: none;
    //     color: $red-000;
    //     font-size: 1.2em;
    //     width: fit-content;
    //     height: fit-content;
  
    //     &:hover {
    //       cursor: pointer;
    //     }
    //     &:active {
    //       background-color: $red-000;
    //       color: $dark-500;
    //       transition: ease 0.5s;
    //     }
    //   }
    // }
  }
}
