@use "../abstracts/_variables.scss" as *;

.searchBar {
  display: flex;
  flex-direction: row;

  input {
    background-color: $dark-100;
    border-radius: 5px;
    color: $red-000;
    border: solid 1px;
    padding: 0.5rem 0 0.2rem 0.5rem;

    &:active {
      border: none;
      background-color: $dark-100;
      color: $dark-900;
    }
  }

  button {
    background-color: $dark-600;
    border: none;
    border-radius: 5px;
    color: $dark-000;
    border: solid 1px;
    margin-left: 0.2em;
    padding: 0.5rem 0.3rem 0.2rem 0.3rem;

    &:hover {
      background-color: $dark-000;
      color: $dark-600;
      border-color: $dark-600;
      border: none;
    }
  }
}
