@use "../abstracts/_variables.scss" as *;
@use "../abstracts/_mixins.scss" as *;

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  .cubreSearch {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    
    input {
      height: 100%;
      width: 85%;
      color: $red-800;
      padding: 0.5rem 0 0.2rem 0.5rem;
      background-color: white;
      border: none;
      // &:active {
      //   color: $dark-800;
      // }
    }
  
    button {
      background-color: white;
      width: 15%;
      color: $background;
      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }
  }

}
