@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&family=Roboto:wght@300;400;500&display=swap');

/* COLORS */
$dark-000: #C1C2C5; 
$dark-100: #A6A7AB; 
$dark-200: #909296; 
$dark-300: #5C5F66; 
$dark-400: #373A40; 
$dark-500: #2C2E33; 
$dark-600: #25262B; 
$dark-700: #1A1B1E; 
$dark-800: #141517; 
$dark-900: #101113;

/*paleta 1*/
$red-000: #ffffff;
$red-050: #eeeeee;
$red-100: #ffc0c0;
$red-200: #ff8080;
$red-300: #ff4040;
$red-400: #ff0000;
$red-500: #c00000;
$red-600: #800000;
$red-700: #400000;
$red-750: #15152cde;
$red-800: #00002b;

/*variables light y dark mode*/
$fuente-titulo: 'Roboto Slab', serif;
$fuente-parrafos: 'Roboto', sans-serif;
$primary: $red-500;
$secondary: $red-800;
$succes-background: $red-100;
$succes-primary: $red-200;
$danger-background: $red-300; 
$danger-primary: $red-000;
$background: $dark-100;
$background-dark: $dark-600;
$background-amoled: $dark-900;
